.main {
  margin: 0;
  box-sizing: border-box;
  background-color: #010101;
  width: 100%;
  height: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.headerContainer {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.sectionContainer {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.h1 {
  background-color: rgba(137, 43, 226, 0.308);
  backdrop-filter: blur(15px);
  border-radius: 8px;
  padding: 0.5rem 1rem;
  font-size: 48px;
  z-index: 2;
  position: absolute;
  top: 40%;
  right: 35%;
  border: 1px solid rgba(255, 0, 0, 0.438);
}

@media (max-width: 720px) {
  .h1 {
    font-size: 32px;
    z-index: 2;
    top: 250px;
    right: 27%;
    position: absolute;
  }
}
@media (max-width: 420px) {
  .h1 {
    font-size: 24px;
    z-index: 2;
    right: 15%;
    position: absolute;
  }
}

.bestStarsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
}

.main h2 {
  color: red;
}

.bestStarsContainer {
  min-height: 100vh;
}
.kingimages {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}
