.container {
  width: 100%;
  color: var(--indigo-12);
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 48px;
  background-color: var(--indigo-1);
  margin-top: 15px;
  background-color: var(--indigo-1);
}
.container > span > a {
  font-size: large;
  font-weight: bold;
  text-decoration: none;
  color: var(--indigo-12);
}
