.container {
  width: 100%;
  color: var(--indigo-12);
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 35px;
  background-color: var(--indigo-1);
  margin-top: 5px;
}
