.baseContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  background-color: blueviolet;
}
.container {
  margin: 15px;
  background-color: aquamarine;
}
.starsContainer {
  display: flex;
}
